body {
    background-color: #eb6f92;
}

@media screen and (max-width: 992px) {
    div > p {
         background-color: #3e8fb0;
    }
}

@media screen and (max-width: 800px) {
    div > p {
        background-color: #ebbcba;
    }
}

@media screen and (max-width: 600px) {
    div > p {
         background-color: #56949f;
    }
}